<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div align="center">
  <H1>{{title}}</H1>
  <P>Currently {{onlineFlag}} with {{updateFlag}} </P>
  <mo-map class="map">
    <tile-layer logging="true" [tiles]="'https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'"></tile-layer>
  </mo-map>
    <button (click)="previousStep()">< Previous </button>
    <button (click)="playStop()">{{playLabel}}</button>
    <button (click)="nextStep()">Next > </button>
    <select [(ngModel)]="selectedValue" (change)="changeLayer($event)">
      <option *ngFor="let c of weatherLayers" [ngValue]="c.id">{{c.name}}</option>
    </select>
    <span><br/>{{ layerName }} : {{layerTime}}</span>
  </div>
</div>
